doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    header
        include ./includes/head-nav.jade

    div
    block content

    footer
        include ./includes/footer.jade

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="/js/global.min.js")
